@tailwind base;
@tailwind components;
@tailwind utilities;

.movie-card {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.movie-card p{
    width: 200px;
}

.poster-container {
    display: flex;
    height: 300px;
}

.poster-container a {
    display: flex;
    width: 200px !important;
}