@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #1F2937;
}

h1 , p , h2, h3 {
    color: rgb(221, 221, 221);
}
.slick-prev {
    right: 95% !important;
    left: unset !important;
    z-index: 50 !important;
}

.slick-next {
    left: 95% !important;
    z-index: 50 !important;

}

.movie-card {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.movie-card p {
    width: 200px;
}

.poster-container {
    display: flex;
    height: 300px;
}

.poster-container a {
    display: flex;
    width: 200px !important;
}

.slick-prev:before,
.slick-next:before {
    width: 40px !important;
    height: 40px !important;
    background-color: black;
    border: 1px solid black !important;
    border-radius: 50% !important;
}
@media (min-width: 700px) {
    .slick-prev {
        right: 100% !important; 
    }
    .slick-next {
        left: 100% !important;
    }
}